@import '../app/globals.scss';

.container {
  @include heigth-page;
  width: calc(100vw - 2rem);
  padding-top: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  gap: 2rem 1rem;
  position: relative;

  h1 {
    position: absolute;
    left: 0;
    top: 1rem;
    width: 100vw;
    text-align: center;
    font-size: 1.5rem;
  }
}
