@import '../app/globals.scss';

.container {
  width: 100vw;
  height: $size-page;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 3rem 1rem 0 1rem;
  background: linear-gradient(
    90deg,
    hsla(213, 77%, 14%, 1) 0%,
    hsla(202, 27%, 45%, 1) 100%
  );

  a {
    width: 150px;
    height: 150px;
  }
}

.button {
  @include rounded-edge;
  @include center-rows;
  width: 150px;
  height: 150px;
  border: none;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: $box-shadow-1;
  background-color: $cor-primaria;

  &:hover {
    transform: scale(1.01);
  }
}
