@import '../app/globals.scss';

.container {
  @include heigth-page;
  padding-top: 3rem;
  width: 100vw;
  height: $size-page;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  background: linear-gradient(
    90deg,
    hsla(213, 77%, 14%, 1) 0%,
    hsla(202, 27%, 45%, 1) 100%
  );

  a {
    width: 150px;
    height: 150px;
  }
}

.button {
  @include rounded-edge;
  @include center-column;
  width: 150px;
  height: 150px;
  border: none;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  gap: 1rem;
  cursor: pointer;
  box-shadow: $box-shadow-1;
  background-color: $cor-primaria;

  &:hover {
    transform: scale(1.01);
  }
}

/* --------------------------- Edit Product Styles --------------------------- */

.main {
  @include heigth-page;
  padding-top: 100px;
  width: 100vw;
  height: auto;
  min-height: calc(100vh - $size-header);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  gap: 2rem 1rem;
  color: black;
  position: relative;
}

.card_product {
  width: 200px;
  height: auto;
  max-height: 500px;
  border: 1px solid $gray-color-3;
  border-radius: 10px;
  padding: 1rem;
  background: $blur-color-3;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.01);
  }
}

.delete_product_button {
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 1rem;
  background: $red-color-1;
  font-weight: 700;
  opacity: 0.8;
  cursor: pointer;
  color: white;

  &:hover {
    transform: scale(1.05);
    opacity: 1;
  }
}

.image {
  position: relative;
  aspect-ratio: 1;
}

.name {
  font-size: 0.9rem;
}

.description {
  font-size: 0.9rem;
}

.price {
  font-size: 0.9rem;
}

.weight {
  font-size: 0.9rem;
}

.category {
  font-size: 0.9rem;
}

.available {
  font-size: 0.9rem;
}

.order_only {
  font-size: 0.9rem;
}

.filter_input {
  padding: 0.5rem;
  border: 1px solid $gray-color-3;
  border-radius: 5px;
  height: 3rem;
  width: 10rem;
  position: absolute;
  top: 1rem;
}

/* --------------------------- modal styles --------------------------- */

.container_modal {
  @include center-column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $blur-color-1;
  z-index: 5;
}

.modal {
  @include center-column;
  width: auto;
  height: auto;
  max-height: 800px;
  min-height: 300px;
  max-width: 900px;
  min-width: 250px;
  background: white;
  position: relative;
  padding: 1rem;
  gap: 1rem;
  border-radius: 10px;

  h2 {
    font-size: $clamp-name;
  }

  p {
    font-size: $clamp-description;
    text-align: center;
    color: $text-color-1;
  }
}

.delete {
  background: $red-warning-3;
  border: 1px solid $gray-color-3;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  width: 100%;
  height: 3rem;
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
  }
}

.cancel {
  border: 1px solid $gray-color-3;
  border-radius: 5px;
  width: 100%;
  height: 3rem;
  background-color: transparent;
  color: $text-color-1;
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
  }
}

.close_modal {
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: -5px;
  top: -5px;
  border-radius: 50%;
  border: none;
  background-color: $red-color-1;
  color: white;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

.ilustration_modal {
  @include center-rows;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.ilustration_modal_delete {
  @extend .ilustration_modal;
  background: $red-warning-2;
}

.ilustration_modal_daily_menu_include {
  @extend .ilustration_modal;
  background: $green-color-2;
}

.ilustration_modal_daily_menu_exclude {
  @extend .ilustration_modal;
  background: $red-warning-2;
}

.daily_menu_product_button {
  @include button-modal;
}

.daily_menu_exclude {
  @include button-modal;
  background-color: $red-warning-1;
}

.daily_menu_include {
  @include button-modal;
  background-color: $green-color-1;
}

.delete_product_button {
  background: $red-warning-3;
}

.edit_product_button {
  @include button-modal;
  background: $orange-warning;
}

/* --------------------------- daily menu styles --------------------------- */
