@import '../app/globals.scss';

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 150px;
  background-color: $gray-color-5;
  border-top: 2px solid $cor-primaria;
  color: white;
  gap: 1rem;

  a {
    cursor: pointer;
  }

  h4 {
    text-align: center;
    flex-wrap: nowrap;
    width: 100vw;
    font-size: clamp(8px, 0.6vw, 12px);
    display: flex;

    a {
      text-align: center;
      width: 100%;

      span {
        all: unset;
        color: rgb(163, 163, 255);

        &:hover {
          color: rgb(195, 195, 253);
        }
      }
    }
  }

  button {
    @include button-style;
    @include center-rows;
    gap: 1rem;
    width: 100px;
    background-color: $gray-color-3;
  }
}
