@import '../app/globals.scss';

.footer {
  @include center-column;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 150px;
  background-color: $gray-color-5;
  border-top: 2px solid $cor-primaria;
  color: white;
  gap: 0.5rem;

  a {
    cursor: pointer;
  }

  button {
    @include button-style;
    @include center-rows;
    gap: 1rem;
    width: 100px;
    background-color: $gray-color-3;
  }
}
