@import '../app/globals.scss';

.container {
  @include center-column;
}

.container_input {
  @include absolute-center-X;
  @include rounded-edge;
  background: white;
  position: absolute;
  width: 70vw;
  height: 3rem;
  bottom: -1.5rem;
  overflow: hidden;
  box-shadow: $box-shadow-1;

  label {
    @include full-size;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 1rem;

    input {
      @include absolute-init;
      position: absolute;
      padding-left: 3rem;
      border: none;
      background: transparent;
      outline: none;
      z-index: 10;
    }
  }
}
