@import '../app/globals.scss';

.container_product {
  width: 250px;
  height: 200px;
  display: grid;
  border-radius: 20px;
  grid-template-columns: 100%;
  grid-template-rows: 60% 10% 20% 10%;
  box-shadow: 4px 4px 9px 1px rgba(0, 0, 0, 0.29);
  overflow: hidden;
  padding-bottom: 0.5rem;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.03);
  }

  div {
    @include center-rows;
    overflow: hidden;
    position: relative;
  }

  h2 {
    @include text-card;
    font-size: $clamp-name;
    color: $color-name-product;
  }

  p {
    @include text-card;
    font-size: $clamp-description;
    color: $color-description-product;
  }

  h3 {
    @include text-card;
    font-size: $clamp-price;
    color: $color-price-product;
  }
}
